@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

.section{
    min-height: 100px;
    background: #38065b;
}
.navbar{
    margin-inline: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
   
}
.img{
    height: 4rem;
}
.nav-bar{
    display: flex;
    gap: 1rem;
}
.link{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    transition: .3s;
    font-family: "Roboto", sans-serif;
    font-weight: 800;

}
.link:hover{
    color: red;
    text-decoration: underline;
}
.button{
    display: flex;
    gap: 1rem;
}
.profile{
    color: whitesmoke;
    font-size: 2rem;
    transition: .5s;
    padding: 0;
    border: 0;
    border-radius: 20px;
}
.profile:hover{
    background: whitesmoke;
    color: #101010;
    
}
.event{
    background: none;
    padding: 10px 20px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    transition: .5s;
    text-decoration: none;
    border-radius: 5px;
}
.event:hover{
    background: whitesmoke;
    color: #101010;
}


.home-title{
    margin-inline: 9rem;
    height: 100vh;
    display: flex;
    align-items: center;
}
.sub{
    font-size: 40px;
    font-family: "Alex Brush", cursive;
    color: #6dffff;
    margin-bottom: 2rem;
}
.linkid{
    color: black;
    text-decoration: none;
}
.title{
    font-size: 70px;
    width: 87%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: whitesmoke;
}
.upcoming{
    padding-top: 2rem;
    padding-inline: 3rem;
}
/* .even{
    font-size: 30px;
    font-family: "Alex Brush", cursive;
    font-weight: 400;
    color: red;
    line-height: 3rem;
    text-align: center;
    padding-bottom: 2rem;
} */
.featured{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 750;
    padding-bottom: 2rem;
    color: grey;
}
.swiper{
    background-color: #5145d4;
    height: 50vh;
}
.category{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
}
.cate{
    color: whitesmoke;
    font-size: 30px;
    font-family: "Alex Brush", cursive;   
}
.browser{
    color: whitesmoke;
    font-size: 35px;
}
.join{
    padding-top: 2rem;
    padding-top: 6rem;
    padding-inline: 3rem;
}
.onlin{
    font-size: 25px;
    font-family: "Alex Brush", cursive;
    color: red;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
}
.descript{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: grey;
}
.footer{
    background-color: #5145d4;
    height: 75vh;
    z-index: 100;
}
.footer-container{
    margin-inline: 6rem;
    padding-top: 3rem;
    display: flex;
    gap: 9rem;
    margin-bottom: 5rem;
}
.foot-right{
    width: 20%;
}
.imgsrc{
    height: 60px;
    margin-bottom: 1.4rem;
}
.App{
    margin-top: 1.6rem;
}
.download{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
}
.goo{
    display: flex;
    gap: 10px;
}
.google{
    height: 35px;
}
.single{
    color: whitesmoke;
    font-size: 17px;
    line-height: 1.4rem;
}
.footer-left{
    width: 70%;
}
.left-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.face,
.subtext{
    margin-bottom: 2rem;
}
.follow,
.scribetext{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
}
.ico{
    color: rgba(245, 245, 245, 0.856);
    border: 1px solid white;
    font-size: 20px;
    margin-right: .66rem;
    padding: 10px;
    border-radius: 20px;
}
.subtext input{
    height: 45px;
    width: 20rem;
    background: none;
    border: 2px solid rgba(245, 245, 245, 0.486);
    color: whitesmoke;
    font-size: 18px;
    border-radius: 7px;
    outline: none;
}
.subtext ::placeholder{
    color: white;
}
hr{
    height: 1px;
    background: rgba(245, 245, 245, 0.534);
    border: none;
    margin-bottom: 1.2rem;
}
.infotag{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info,
.useful,
.help{
    color: whitesmoke;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-bottom: .77rem;
}
.info-ul li,
.useful-ul li,
.help-ul li,
.link-ul li{
    list-style: none;
    margin-bottom: .77rem;
}
.link-tag{
    color: rgba(245, 245, 245, 0.712);
    text-decoration: none;
}
.useful-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    background: #38065b;
    height: 10vh;
}
.reserved{
    display: flex;
    height: 10vh;
    align-items: center;
   justify-content: center;
    color: whitesmoke;
    font-size: 18px;
    font-weight: lighter;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.678);
    height: 15.5rem;
    padding-bottom: 8rem;
    position: absolute;
    top: 38px;
    width: 100%;
    border-radius: 2rem;
    z-index: 0;
}
.parag{
    margin-inline: 2rem;
    width: 40%;
    z-index: 20;
    position: absolute;
}
.best{
    color: whitesmoke;
    font-size: 30px;
    width: 400px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    line-height: 2.5rem;
}
.town{
    font-size: 45px;
}
.stuff{
    color: rgba(245, 245, 245, 0.836);
    padding-top: 1rem;
    font-size: 18px;
    font-weight: light;
}
.filter-contain{
    overflow-x: hidden;
    background-color: rgba(245, 245, 245, 0.795);
    padding-bottom: 2rem;
}
.filter-contain h1{
    padding: 3rem;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
.filter-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 3rem;
    
}
.sec-image{
    height: 10rem;
    width: 100%;
    border-radius: 5px;
}
.sec{
    background: rgba(236, 233, 233, 0.76);
    width: 100%;
    border-radius: 8px;

}
.sec-div{
    padding: 10px;
}
.sec-title{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; /* Works in some modern browsers */
    text-overflow: ellipsis;
}
.sec-date{
    padding-top: .55rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
    font-size: 16px;
}
.set-price{
    padding-top: .22rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
}
.con{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    height: 16px;
}
.spa{
    font-size: 18px;
}

.filtor-contain{
    overflow-x: hidden;
    background-color: rgba(245, 245, 245, 0.795);
    padding-bottom: 2rem;
}
.filtor-contain h1{
    padding: 3rem;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
.filtor-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 3rem;
    
}
.sector-image{
    height: 10rem;
    width: 100%;
    border-radius: 5px;
}
.sector{
    background: rgba(236, 233, 233, 0.76);
    width: 100%;
    border-radius: 8px;

}
.sector-div{
    padding: 10px;
}
.sector-title{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; /* Works in some modern browsers */
    text-overflow: ellipsis;
}
.sector-date{
    padding-top: .55rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
    font-size: 16px;
}
.sector-price{
    padding-top: .22rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
}
.contor{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    height: 16px;
}
.spator{
    font-size: 18px;
}
.list-contain{
    overflow-x: hidden;
    background-color: rgba(245, 245, 245, 0.795);
    padding-bottom: 2rem;
}
.list-contain h1{
    padding: 3rem;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
.list-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 3rem;
    
}
.list-image{
    height: 10rem;
    width: 100%;
    border-radius: 5px;
}

.list-div{
    padding: 10px;
}
.list-title{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    text-overflow: ellipsis;
}
.list-date{
    padding-top: .55rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
    font-size: 16px;
}
.list-price{
    padding-top: .22rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
}
.list-icon{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    height: 16px;
}
.spator{
    font-size: 18px;
}
.cap-contain{
    overflow-x: hidden;
    background-color: rgba(245, 245, 245, 0.795);
    padding-bottom: 2rem;
}
.cap-contain h1{
    padding: 3rem;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
.cap-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 3rem;
    
}
.cap-image{
    height: 10rem;
    width: 100%;
    border-radius: 5px;
}

.cap-div{
    padding: 10px;
    background: rgba(236, 233, 233, 0.76);
    border-radius: 6px;
    height: 45%;
}
.cap-title{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    text-overflow: ellipsis;
}
.cap-date{
    padding-top: .55rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
    font-size: 16px;
}
.cap-price{
    padding-top: .22rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
}
.captor{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    height: 16px;
}
.cap{
    font-size: 18px;
}
.health-contain{
    overflow-x: hidden;
    background-color: rgba(245, 245, 245, 0.795);
    padding-bottom: 5rem;
}
.health-contain h1{
    padding: 3rem;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
}
.health-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-inline: 3rem;
    
}
.health-image{
    height: 10rem;
    width: 100%;
    border-radius: 5px;
}

.health-div{
    padding: 10px;
    background: rgba(236, 233, 233, 0.76);
    border-radius: 6px;
    height: 40%;
   
}
.health-title{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    text-overflow: ellipsis;
}
.health-date{
    padding-top: .55rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
    font-size: 16px;
}
.health-price{
    padding-top: .22rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
}
.healthor{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    height: 16px;
}
.heal{
    font-size: 18px;
}
.up-map{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-inline: 3rem;
}
.up-image{
    height: 12rem;
    width: 100%;
    border-radius: 5px;
}

.up-div{
    background: rgba(236, 233, 233, 0.76);
    border-radius: 6px;
    height: 40%;
    padding: 10px;
}
.up-title{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    text-overflow: ellipsis;
}
.up-date{
    padding-top: .55rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
    font-size: 16px;
}
.up-price{
    padding-top: .22rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
}
.healthor{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    height: 16px;
}
.heal{
    font-size: 18px;
}
.coming{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.online-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-inline: 3rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
    
}
.online-image{
    height: 10rem;
    width: 100%;
    border-radius: 5px;
}

.online-div{
    background: rgba(236, 233, 233, 0.76);
    border-radius: 3px;
    height: 50%;
    padding: 10px;
}
.online-title{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    text-overflow: ellipsis;
}
.online-date{
    padding-top: .55rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
    font-size: 16px;
}
.online-price{
    padding-top: .22rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
}
.ontor{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    height: 16px;
}
.onlinet{
    font-size: 18px;
}
.online-follower{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.selectedSection{
    padding-top: 2rem;
    margin-inline: 3rem;
}
.section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    background: rgba(110, 109, 109, 0.466);
    
}
.section-1 {
    display: flex;
    justify-content: center;      
    align-items: center;           
    background: linear-gradient(to right, #1234568f, #ffffff, #123456); 
    padding: 20px;                 
  }
  
  .selected-image {
    width: 70%;                 
    max-width: 100%;
    border-radius: 8px; 
    height: 25rem;            
    z-index: 1;                   
  }
  .section-flex{
    display: flex;
    justify-content: space-between;
  }
  .section-flex1{
    padding-top: 2rem;
    width: 60%;
  }
  .section-button{
    padding: 10px;
    background: linear-gradient(to right, #123456bd, #e4dfdf); 
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
  }
  .section-date{
    margin-top: 1rem;
    font-size: 17px;
  }
  .section-title{
    font-size: 50px;
    color: #38065b;
    line-height: 4rem;
    font-weight: 800;
    font-family: "Roboto", sans-serif; 
  }
  .section-parag{
    margin-top: 2rem;
    font-weight: light;
    margin-bottom: 2rem;
  }
  .section-foot-flex{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(128, 128, 128, 0.336);
    padding-inline: 2rem;
    height: 5rem;
    border-radius: 5px;
  }
  .section-foot-network{
    font-size: 16px;
  }
  .graph{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(128, 128, 128, 0.158);
    border-radius: 5px;
    margin-top: 1rem;
  }
  .follow-button{
    font-size: 16px;
    padding: 10px 25px;
    background: #123456;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    color: whitesmoke;
  }
  .yep{
    padding-top: 3rem;
  }
  .set{
    padding-bottom: 2rem;
  }
  .set h3{
    font-size: 20px;
    color: #38065b;
    line-height: 3rem;
  }
  .set h4{
    font-weight: light;
    color: rgb(63, 61, 61);
    font-size: 17px;
  }
  .day7{
    font-weight: bolder;
    color: black;
  }
  .ciclock{
    padding: 10px;
    border-radius: 20px;
  }
  .adjourn{
    font-size: 17px;
    color: rgb(58, 57, 57);
    font-weight: bolder;
  }
  .precedent{
    color: rgb(41, 38, 38);
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.3rem;
    text-align: justify;
  }
  .future{
    margin-inline: 2rem;
    padding-bottom: 1rem;
  }
  .future ul li{
    color: rgb(41, 38, 38);
    padding-top: .33rem;
    padding-bottom: .22rem;
    line-height: 1rem;
    text-align: justify;
  }
  .ticket-section {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    background-color: #f9f9f9;
    text-align: left;
    border-radius: 8px;
    max-width: 400px;
    margin-bottom: 20px auto;
    margin-inline: 3rem;
  }
  
  .ticket-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .ticket-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ticket-price {
    color: #00b300;
    font-size: 18px;
    font-weight: bold;
  }
  
  .close-button {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
  }
  
  .ticket-info {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .ticket-description {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .email-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .email-input.invalid {
    border-color: #ff0000;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .ticket-button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ticket-button:hover {
    background-color: #0056b3;
  }
  
  .confirmation-message {
    color: #28a745;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    background-color: #e6ffee;
    padding: 10px;
    border-radius: 5px;
  }
.flex2{
    padding-top: 15rem;
}  
.select-tick{
    padding: 10px 15px;
    border: 1px solid whitesmoke;
    
}
.ket-button{
    padding: 15px 70px;
    font-size: 20px;
    border: 1px solid whitesmoke;
}
.uptor{
    display: flex;
    padding-top: 10px;
}
.Home-map{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-inline: 3rem;
    justify-content: center;
}
.Home-image{
    height: 10rem;
    width: 100%;
    border-radius: 5px;
}

.Home-div{
    padding: 10px;
    background: rgba(236, 233, 233, 0.76);
    border-radius: 6px;
    height: 45%;
}
.Home-title{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    text-overflow: ellipsis;
}
.Home-date{
    padding-top: .55rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
    font-size: 16px;
}
.Home-price{
    padding-top: .22rem;
    color: #101010d0;
    font-weight: bold;
    padding-bottom: .22rem;
}
.Home{
    display: flex;
    align-items: center;
    padding-top: .22rem;
    height: 16px;
}
.cap{
    font-size: 18px;
}
.Home-yes{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.page-back{
    background-color: #123456;
    height: 50vh;
}
.page-back h1{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    font-size: 40px;
    color: whitesmoke;
}
.page-flex{
    display: flex;
    margin-inline: 3rem;
    align-items: center;
    justify-content: space-between;
    height: 30rem;
    padding-top: 8rem;
}
.page-flex-1{
    width: 40%;
}
.page-h1{
    font-size: 50px;
    color: #101010;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    line-height: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.page-h5{
    font-size: 18px;
    font-weight: light;
    color: #5d616a;
    padding-bottom: 2rem;
}
.page-button{
    padding: 15px 20px;
    border: 3px solid #36358f;
    border-radius: 5px;
    background: none;
    color: #36358f;
    font-weight: 1000;
    font-size: 16px;
}
.page-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
    padding-top: 7rem;
    gap: 3rem;
}
.page-grid-1{
    background: rgba(128, 128, 128, 0.562);
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
}
.grid-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.peopleGroup{
    font-size: 60px;
    color: #38065b;
}
.in-view h1{
    font-size: 30px;
    color: #38065b;
    padding-bottom: .88rem;
}
.in-view h4{
    font-size: 20px;
    color: #38065b;
}
.set-div{
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-inline: 6rem;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.set-id{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(214, 211, 211);
    height: 22rem;
    justify-content: center;
    border-radius: 8px;
    
}
.setImage{
    height: 12rem;
    border-radius: 8px;
    margin-inline: 2rem;
}
.setCon{
    padding-top: 1rem;
    padding-inline: 1rem;
}
.set-flex{
    display: flex;
    width: 97%;
    justify-content: space-between;
    align-items: center;
    padding-top: .55rem;
    padding-bottom: 1rem;
}
.setH1{
    font-size: 20px;
    color: #101010;
}
.blogp{
    text-align: center;
    font-size: 20px;
} 
.blogh1{
    text-align: center;
    font-size: 50px;
    padding-top: 1rem;
}
.property{
    padding-top: 6rem;
    padding-bottom: 3rem;
}
.selection-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 6rem;
    justify-content: space-between;
    gap: 2rem;
}
/* .selection-flex1{
    width: 60%;
}
.selection-flex2{
    width: 40%;
} */

.selection-flex1{
    padding-bottom: 3rem;
    padding-top: 3rem;
}
.company-flex{
    width: 100%;
    display: flex;
    gap: 2rem;
    padding-top: 10px;
    padding-bottom: 1rem;
}
.guide-bold{
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.guide2{
    background: rgb(236, 233, 233);
    height: 8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}
.financial{
    padding: 1rem;
    font-size: 23px;
    color: #123456;
    border-radius: 8px;
    line-height: 2rem;
}

.guide-light{
    text-align: justify;
}
.lighter-padding{
    padding-top: 2rem;
}
.padding-light{
    text-align: center;
    font-size: 14px;
    padding-bottom: 2rem;
   
}
.guide-lighter{
    font-size: 16px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.747);
}
.selection-flex2{
    padding-top: 3rem;
    
}
.recent-post{
    background: white;
    height: 13rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #0057b367;
    margin-bottom: 2rem;
}
.line{
    background: #0056b3;
    height: 3px;
    width: 2rem;
}
.digital{
    border-bottom: dotted 2px rgb(39, 38, 38);
    padding-bottom: 8px;
    width: 15rem;
}
.comments{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.blog-tag{
    height: 50vh;
    background-color: #2f2f89;
}
.blog-tag h1{
    color: whitesmoke;
    display: flex;
    align-items: center;
    height: 50vh;
    justify-content: center;
    font-size: 50px;
}
.blogg{
    height: 50vh;
    background: #0056b3;
}
.locate-flex{
    display: flex;
    align-items: center;
}
.location-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 8rem;
    gap: 3rem;
}
.locate-flex{
    background: rgb(202, 200, 200);
    width: 100%;
}
.locate-flex1{
    padding: 1rem;
}
.locate-h1{
    font-size: 25px;
    padding-bottom: 1rem;
    font-weight: 800;
    color: rgb(20, 20, 20);
}
.locate-p{
    padding-bottom: 10px;
    font-size: 17px;
}
.location-faq{
    margin-top: 3rem;
}
.faq{
    font-size: 30px;
    text-align: center;
}
.faq-our{
    font-size: 50px;
    text-align: center;
    padding-bottom: 3rem;
}
.contact-con{
    height: 20rem;
    background: #36358f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-conh1{
    font-size: 50px;
    color: whitesmoke;
}
.question-form {
    width: 100%;
    max-width: 1200px;
    margin-top: 4rem;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-inline: 3rem;
    margin-bottom: 3rem;
  }
  
  .question-form h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .question-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .question-form input {
    width: 50%;
    padding: 18px;
    margin-bottom: 25px;
    border: 2px solid #7a7878;
    border-radius: 5px;
  }

  .question-form textarea{
    padding: 18px;
    margin-bottom: 25px;
    border: 2px solid #7a7878;
    border-radius: 5px;
    width: 50%;
    height: 10rem;
    resize: none;
  }
  
  .question-form button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .question-form button:hover {
    background-color: #0056b3;
  }
  
  .message {
    text-align: center;
    margin-bottom: 10px;
    color: green;
  }
  .flex-lab{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.createEvent-margin{
    margin-inline: 3rem;
}
 .createEvent-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.back-button{
    background: none;
    border: 2px solid blue;
    padding: 10px 25px;
    font-size: 17px;
    color: rgba(245, 245, 245, 0.801);
    border-image: linear-gradient(to right, red, blue) 1;
}

.exploreEvent-spacing{
    display: flex;
    gap: 2rem;
}
.spacing1{
    color: rgba(245, 245, 245, 0.671);
    font-size: 16px;
    font-weight: 900;
    padding: 5px 15px;
}
.spacing-button{
    padding: 5px 25px;
    border: 2px solid grey;
    border-radius: 15px;
    font-size: 16px;
    background: none;
    color: rgba(245, 245, 245, 0.671);;
}

.createEvent-Brites{
    padding-top: 8rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-inline: 6rem;
}  
.delightful{
    width: 30%;
}
.delightfulh3{
    font-size: 40px;
    margin-bottom: 2rem;
    color: rgba(245, 245, 245, 0.829);
}
.delightfulh1{
    font-size: 60px;
    line-height: 4rem;
    margin-bottom: 2rem;
    color: rgba(245, 245, 245, 0.801);
}
.delightfulp{
    margin-top: 2rem;
    font-size: 25px;
    width: 90%;
    margin-bottom: 2rem;
    color: rgba(245, 245, 245, 0.822);
}  
.createImage{
    height: 35rem;
    border-radius: 25rem;
    width: 35rem;
}
.create-radius{
    background-color: rgba(255, 255, 255, 0.322);
    border-radius: 12rem;
    border: 5px solid;
    margin-bottom: 1rem;
}
.submit-background{
    /* background-color: blueviolet; */
   min-height: 100vh;
}
.symbolic-Events{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 3rem;
}
.symnolic-flex{
    display: flex;   
}
.flex-vsc{
    margin-right: 2rem;
    font-weight: bolder;
    font-size: 15px;
    color: rgba(245, 245, 245, 0.808);
}
.flex-ri{
    margin-right: 2rem;
    font-weight: bolder;
    font-size: 15px; 
    color: rgba(245, 245, 245, 0.836);
}
.pst-event{
    color: rgba(245, 245, 245, 0.836);
}
.yourevent-back{
    background-color: #38065b;
}
.axios-border1{
    margin-inline: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.445);
}
.axios-border2{
    padding-top: 3rem;
    width: 100%;
}